.nav-barre{
    display: flex;
    height: 100px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    color: $colornavbarre;
    ul{
        align-items: center;
        display: flex;
        gap: 10%;
        width: 35%;
        font-family: $fontnavbarre;
        color: $colornavbarre;
        font-size: 22px;
        a{
            color: $colornavbarre;
            &:hover{
                color: $ratecolor !important;
                transition: .2s;
            }
        }
        a:visited{
            color: $colornavbarre;
        }
    }
    &__logo{
        font-family: $fontlogo;
        @include portrait-tablette{
            font-size: 26px;
        }
    }
}